---
title: Партнеры
---
{% extends "layouts/_layout-inner.html" %}

{% block content %}

  {# data usage example #}
  {% import "data/data.html" as data %}

  {# mobile-menu #}
  {% include "partials/_mobile-menu.html" %}

  <div class="page-inner-wrapper">
    {# header #}
    {% include "partials/_header-inner.html" %}
    <div class="layout">
      <!-- BEGIN breadcrumbs -->
      <div class="breadcrumbs">
        <div class="breadcrumbs">
          <div class="container">
            <a href="#" class="item">Главная</a><span class="sep"></span><span class="item">Партнеры</span>
          </div>
        </div>
      </div>
      <!-- END breadcrumbs -->
      <div class="page-content page-content-partners">
        <!-- BEGIN promoters -->
        <section class="partners partners--promoters">
          <div class="container">
            <div class="rect" id="rect-partners-blue-1" aria-hidden="true"></div>
            <div class="rect" id="rect-partners-blue-2" aria-hidden="true"></div>
            <div class="rect rect-red" id="rect-partners-red-1" aria-hidden="true"></div>
            <h1 class="section-title">Промоутеры</h1>
            <div class="promoters-slider swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
              </div>
              <a class="slider-arrow slider-arrow--prev" role="button">
                <div class="icon icon-arrow-left"></div>
              </a>
              <a class="slider-arrow slider-arrow--next" role="button">
                <div class="icon icon-arrow-left"></div>
              </a>
            </div>
          </div>
        </section>
        <!-- END promoters -->
        <!-- BEGIN promoters -->
        <section class="partners partners--commercial">
          <div class="container">
            <div class="rect" id="rect-partners-blue-3" aria-hidden="true"></div>
            <h1 class="section-title">Коммерческие партнеры</h1>
            <div class="commercial-slider swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="tile">
                    <a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a>
                    <div class="tile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="tile">
                    <a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a>
                    <div class="tile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="tile">
                    <a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a>
                    <div class="tile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="tile">
                    <a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a>
                    <div class="tile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="tile">
                    <a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a>
                    <div class="tile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="tile">
                    <a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a>
                    <div class="tile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="tile">
                    <a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a>
                    <div class="tile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="tile">
                    <a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a>
                    <div class="tile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="tile">
                    <a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a>
                    <div class="tile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="tile">
                    <a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a>
                    <div class="tile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
              </div>
              <a class="slider-arrow slider-arrow--prev" role="button">
                <div class="icon icon-arrow-left"></div>
              </a>
              <a class="slider-arrow slider-arrow--next" role="button">
                <div class="icon icon-arrow-left"></div>
              </a>
            </div>
          </div>
        </section>
        <!-- END promoters -->
        <!-- BEGIN promoters -->
        <section class="partners partners--info">
          <div class="container">
            <div class="rect" id="rect-partners-blue-4" aria-hidden="true"></div>
            <div class="rect" id="rect-partners-blue-5" aria-hidden="true"></div>
            <h1 class="section-title">Информационные партнеры</h1>
            <div class="info-partners-slider swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
                <div class="swiper-slide">
                  <div class="tile"><a href="#" class="tile__content"><img src="img/partner.jpg" alt="Партнер"></a></div>
                </div>
              </div>
              <a class="slider-arrow slider-arrow--prev" role="button">
                <div class="icon icon-arrow-left"></div>
              </a>
              <a class="slider-arrow slider-arrow--next" role="button">
                <div class="icon icon-arrow-left"></div>
              </a>
            </div>
          </div>
        </section>
        <!-- END promoters -->
      </div>
    </div>
  </div>

  {# footer #}
  {% include "partials/_footer-inner.html" %}

  {# popups #}
  {% include "partials/_popups.html" %}

{% endblock %}
