---
title: Команда
---
{% extends "layouts/_layout-inner.html" %}

{% block content %}

  {# data usage example #}
  {% import "data/data.html" as data %}

  {# mobile-menu #}
  {% include "partials/_mobile-menu.html" %}

  <div class="page-inner-wrapper">
    {# header #}
    {% include "partials/_header-inner.html" %}
    <div class="layout">
      <!-- BEGIN breadcrumbs -->
      <div class="breadcrumbs">
        <div class="breadcrumbs">
          <div class="container">
            <a href="#" class="item">Главная</a><span class="sep"></span><span class="item">Команда</span>
          </div>
        </div>
      </div>
      <!-- END breadcrumbs -->
      <div class="page-content page-content-partners">
        <!-- BEGIN team -->
        <section class="team team--fighters">
          <div class="container">
            <div class="rect" id="rect-team-blue-1" aria-hidden="true"></div>
            <div class="rect" id="rect-team-blue-2" aria-hidden="true"></div>
            <div class="rect" id="rect-team-blue-3" aria-hidden="true"></div>
{#                        <div class="rect rect-red" id="rect-partners-red-1" aria-hidden="true"></div>#}
            <h1 class="section-title">Спортсмены</h1>
            <div class="team-row">
              <!-- BEGIN team-item -->
              <div class="team-item">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x454/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__name">Дмитрий</div>
                    <div class="team-item__surname">Нурмагомедов</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad cupiditate dolorem dolorum
                      est fuga illum in incidunt laborum minima nobis odio, recusandae saepe soluta totam, unde vitae.
                      Facere, nihil.</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
              <!-- BEGIN team-item -->
              <div class="team-item">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x454/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__name">Дмитрий</div>
                    <div class="team-item__surname">Нурмагомедов</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad cupiditate dolorem dolorum
                      est fuga illum in incidunt laborum minima nobis odio, recusandae saepe soluta totam, unde vitae.
                      Facere, nihil.</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
              <!-- BEGIN team-item -->
              <div class="team-item">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x454/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__name">Дмитрий</div>
                    <div class="team-item__surname">Нурмагомедов</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad cupiditate dolorem dolorum
                      est fuga illum in incidunt laborum minima nobis odio, recusandae saepe soluta totam, unde vitae.
                      Facere, nihil.</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
              <!-- BEGIN team-item -->
              <div class="team-item">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x454/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__name">Дмитрий</div>
                    <div class="team-item__surname">Нурмагомедов</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad cupiditate dolorem dolorum
                      est fuga illum in incidunt laborum minima nobis odio, recusandae saepe soluta totam, unde vitae.
                      Facere, nihil.</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
              <!-- BEGIN team-item -->
              <div class="team-item">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x454/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__name">Дмитрий</div>
                    <div class="team-item__surname">Нурмагомедов</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad cupiditate dolorem dolorum
                      est fuga illum in incidunt laborum minima nobis odio, recusandae saepe soluta totam, unde vitae.
                      Facere, nihil.</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
              <!-- BEGIN team-item -->
              <div class="team-item">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x454/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__name">Дмитрий</div>
                    <div class="team-item__surname">Нурмагомедов</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad cupiditate dolorem dolorum
                      est fuga illum in incidunt laborum minima nobis odio, recusandae saepe soluta totam, unde vitae.
                      Facere, nihil.</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
            </div>
          </div>
        </section>
        <!-- END team -->
        <!-- BEGIN media -->
        <div class="media">
          <div class="container">
            <div class="rect rect-red" id="rect-team-red-1" aria-hidden="true"></div>
            <div class="rect" id="rect-team-blue-4" aria-hidden="true"></div>
            <div class="rect" id="rect-team-blue-5" aria-hidden="true"></div>
            <div class="rect" id="rect-team-blue-6" aria-hidden="true"></div>
            <div class="rect" id="rect-team-blue-7" aria-hidden="true"></div>
            <h2 class="section-title">Медиа</h2>
            <!-- BEGIN media-row -->
            <div class="media__row">
              <!-- BEGIN team-item -->
              <div class="team-item team-item--media">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x385/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__surname">Пояснялыч</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
              <!-- BEGIN media-content -->
              <div class="media-content">
                <div class="media-content__top">
                  <a href="#" class="button media-content__button">
                    <div class="button__wrapper">
                      <span class="text">перейти на канал</span>
                    </div>
                  </a>
                </div>
                <div class="media-content__row">
                  <div class="media-content__tile">
                    <div class="media-content__tile-inner">
                      <iframe width="230" height="130" src="https://www.youtube.com/embed/aeFwIJ4ps3M" frameborder="0"
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="media-content__tile">
                    <div class="media-content__tile-inner">
                      <iframe width="230" height="130" src="https://www.youtube.com/embed/aeFwIJ4ps3M" frameborder="0"
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="media-content__tile">
                    <div class="media-content__tile-inner">
                      <iframe width="230" height="130" src="https://www.youtube.com/embed/aeFwIJ4ps3M" frameborder="0"
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="media-content__tile">
                    <div class="media-content__tile-inner">
                      <iframe width="230" height="130" src="https://www.youtube.com/embed/aeFwIJ4ps3M" frameborder="0"
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="media-content__tile">
                    <div class="media-content__tile-inner">
                      <iframe width="230" height="130" src="https://www.youtube.com/embed/aeFwIJ4ps3M" frameborder="0"
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="media-content__tile">
                    <div class="media-content__tile-inner">
                      <iframe width="230" height="130" src="https://www.youtube.com/embed/aeFwIJ4ps3M" frameborder="0"
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END media-content -->
            </div>
            <!-- END media-row -->
          </div>
        </div>
        <!-- END media -->
        <!-- BEGIN team -->
        <section class="team team--specialists">
          <div class="container">
            <div class="rect" id="rect-team-blue-8" aria-hidden="true"></div>
            <div class="rect" id="rect-team-blue-9" aria-hidden="true"></div>
            {#            <div class="rect" id="rect-partners-blue-1" aria-hidden="true"></div>#}
            {#            <div class="rect" id="rect-partners-blue-2" aria-hidden="true"></div>#}
            {#            <div class="rect rect-red" id="rect-partners-red-1" aria-hidden="true"></div>#}
            <h1 class="section-title">Специалисты</h1>
            <div class="team-row">
              <!-- BEGIN team-item -->
              <div class="team-item team-item--specialist">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x376/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__name">Артем</div>
                    <div class="team-item__surname">Харланов</div>
                    <p>Руководитель компании</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
              <!-- BEGIN team-item -->
              <div class="team-item team-item--specialist">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x376/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__name">Анна</div>
                    <div class="team-item__surname">Иванова</div>
                    <p>Зам. руководителя</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
              <!-- BEGIN team-item -->
              <div class="team-item team-item--specialist">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x376/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__name">Артем</div>
                    <div class="team-item__surname">Харланов</div>
                    <p>Руководитель компании</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
              <!-- BEGIN team-item -->
              <div class="team-item team-item--specialist">
                <div class="team-item__top">
                  <div class="team-item__top-inner">
                    <img src="https://via.placeholder.com/262x376/" alt="project">
                  </div>
                </div>
                <div class="team-item__content">
                  <div class="team-item__content-inner">
                    <div class="team-item__name">Анна</div>
                    <div class="team-item__surname">Иванова</div>
                    <p>Зам. руководителя</p>
                  </div>
                </div>
              </div>
              <!-- END team-item -->
            </div>
          </div>
        </section>
        <!-- END team -->
      </div>
    </div>
  </div>

  {# footer #}
  {% include "partials/_footer-inner.html" %}

  {# popups #}
  {% include "partials/_popups.html" %}

{% endblock %}
