<!-- BEGIN footer -->
<footer class="footer">
  <div class="rocket-progress js-rocket-progress-footer">
    <div class="rocket-progress__line js-rocket-progress-line"></div>
    <div class="icon icon-rocket"></div>
  </div>
  <div class="container">
    <div class="rect rect-red" id="rect-footer-red-1" aria-hidden="true"></div>
    <div class="rect" id="rect-footer-blue-1" aria-hidden="true"></div>
    <div class="rect rect-white" id="rect-footer-white-1" aria-hidden="true"></div>
    <div class="footer__left">
      <nav class="footer__nav">
        <ul class="list-reset">
          <li><a href="#-"><span>О нас</span></a></li>
          <li><a href="#"><span>Услуги</span></a></li>
          <li><a href="#"><span>Команда</span></a></li>
          <li><a href="#"><span>Новости</span></a></li>
          <li><a href="#"><span>Партнеры</span></a></li>
          <li><a href="#"><span>Контакты</span></a></li>
        </ul>
      </nav>
      <div class="footer__bottom">
        <div class="copyright">2020 © Gagarin Sports Management</div>
        <a href="#" class="policy-link">Политика конфиденциальности</a>
      </div>
    </div>
    <div class="footer__right">
      <!-- BEGIN social-icons -->
      <div class="social-icons">
        <a href="#" class="icon icon-telegram"></a>
        <a href="#" class="icon icon-facebook"></a>
        <a href="#" class="icon icon-vk"></a>
        <a href="#" class="icon icon-instagram"></a>
      </div>
      <!-- END social-icons -->
      <div class="made-by"><span class="text">Design by: </span><a href="" class="made-by__link">CHEREPKOVA</a></div>
    </div>
  </div>
</footer>
<!-- END footer -->
