<!-- BEGIN mobile-menu -->
<div class="mobile-menu">
  <nav class="mobile-menu__nav mobile-menu__nav--1">
    <ul class="mobile-menu__nav-list list-reset">
      <li><a href="#"><span>О нас</span></a></li>
      <li><a href="#services"><span>Услуги</span></a></li>
      <li><a href="#"><span>Команда</span></a></li>
    </ul>
  </nav>
  <nav class="mobile-menu__nav mobile-menu__nav--2">
    <ul class="mobile-menu__nav-list list-reset">
      <li><a href="#news"><span>Новости</span></a></li>
      <li><a href="#"><span>Партнеры</span></a></li>
      <li><a href="#"><span>Контакты</span></a></li>
    </ul>
  </nav>
  <!-- BEGIN social-icons -->
  <div class="social-icons mobile-menu__social-icons">
    <a href="#" class="icon icon-telegram"></a>
    <a href="#" class="icon icon-facebook"></a>
    <a href="#" class="icon icon-vk"></a>
    <a href="#" class="icon icon-instagram"></a>
  </div>
  <!-- END social-icons -->
</div>
<!-- END mobile-menu -->
