<!-- BEGIN popup popup-contact -->
<div class="popup popup-contact">
  <div class="popup-overlay" aria-hidden="true"></div>
  <div class="popup__content">
    <div class="popup__content-inner">
      <h3 class="popup__title"></h3>
      <form action="action.php" class="popup__form">
        <div class="form-row">
          <input type="text" name="user_name" class="form-row__input" placeholder="">
        </div>
        <div class="form-row">
          <input type="text" name="user_phone" class="form-row__input" placeholder="">
        </div>
        <div class="form-row">
          <input type="text" name="user_mail" class="form-row__input" placeholder="">
        </div>
        <div class="form-row form-row--textarea">
          <textarea type="text" name="user_text" class="form-row__textarea" placeholder=""></textarea>
        </div>
        <div class="form-row">
          <label class="form-checkbox">
            <input type="checkbox" class="form-checkbox__input"><span>Я согласен с <a href="">условиями обработки персональных данных</a></span>
          </label>
        </div>
        <div class="form-row form-row--captcha">
        </div>
        <a href="#" class="button button--full">
          <div class="button__wrapper">
            <span class="text">Отправить заявку</span>
          </div>
        </a>
      </form>
    </div>
  </div>
</div>
<!-- END popup popup-contact -->
