//@include font-face("Gilroy", "../fonts/Gilroy-Regular");
//@include font-face("Gilroy", "../fonts/Gilroy-RegularItalic", normal, italic);
//@include font-face("Gilroy", "../fonts/Gilroy-Bold", bold, normal);
//@include font-face("Gilroy", "../fonts/Gilroy-BoldItalic", bold, italic);
//@include font-face("Gilroy", "../fonts/Gilroy-Heavy", 900, normal);
//@include font-face("Gilroy", "../fonts/Gilroy-HeavyItalic", 900, italic);
//@include font-face("Gilroy", "../fonts/Gilroy-Medium", 500, normal);
//@include font-face("Gilroy", "../fonts/Gilroy-MediumItalic", 500, italic);
//@include font-face("Gilroy", "../fonts/Gilroy-Light", 300, normal);
//@include font-face("Gilroy", "../fonts/Gilroy-LightItalic", 300, italic);
//
// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .icon.icon-#{$sprite-name} {
      @include sprite-width($sprite);
      @include sprite-height($sprite);
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        @include sprite($sprite);
      }
    }
  }
}
// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// disable aos.js on smartphones and tablets. We don't want the screen to flicker
[data-aos] {
  @include media-breakpoint-between('xs', 'lg') {
    transform: none !important;
    opacity: 1 !important;
  }
}

html, body {
  height: 100%;
}

/* Base styles start */
body {
  background: white url('../img/main-bg.jpg');
  color: #000;
  font-family: $ff;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.4;
  &.body-page-inner {
    .page-inner-wrapper {
      flex: 1 0 auto;
    }
    .footer {
      flex-shrink: 0;
    }
  }
  @include up('md') {
    font-size: 16px;
  }
}

a {
  color: $text-primary;
  transition: all 0.4s;

  &:hover {
    color: $primary;
  }

  &:active {
    color: darken($primary, 5%);
  }
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.page-wrapper {
  overflow: hidden;
}

/* Base styles end*/

// enable container mixins. Disabled by default.
.container {
  @include make-container();
  @include make-container-max-widths();
}

.container-flex {
  display: flex;
}

.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: none;
  &:before, &:after {
    transition: all 0.3s;
  }
  svg {
    width: 100%;
    height: auto;
    display: block;

    path {
      transition: fill 0.4s;
    }
  }

}

@include sprites($spritesheet-sprites);

.icon-arrow-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  @include sprite($arrow-left-white);
}

.social-icons {
  .icon {
    margin-right: 10px;
    transition: all 0.3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.mobile-nav-trigger {
  display: block;
  cursor: pointer;
  transition: all 0.4s;

  .burger {
    @include burger(30px, 3px, 8px, $black);
  }

  &.active {
    .burger {
      @include burger-to-cross();
    }
  }
}

.popup-close {
  display: block;
  cursor: pointer;
  transition: all 0.4s;
  position: absolute;
  right: 10px;
  top: 10px;

  .burger {
    @include burger(30px, 3px, 8px, white);
    @include burger-to-cross();
  }
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }
}

.button {
  height: 50px;
  line-height: 48px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  transition: all 0.4s;
  border: none;
  font-size: 18px;
  text-align: center;
  background-color: $background-primary;
  color: $white;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transform: skew(-15deg, 0);
  box-shadow: 0 0 7px 3px rgba(black, 0.1);

  &__wrapper {
    transform: skew(15deg, 0);
    position: relative;
    z-index: 1;
  }

  &:focus, &:hover {
    outline: none;
    background-color: $primary;
    color: white;
    box-shadow: 0 0 10px 3px rgba($primary, 0.1);
  }

  //&:before {
  //  content: '';
  //  background-color: $primary;
  //  width: 100%;
  //  height: 100%;
  //  left: 0;
  //  top: 0;
  //  position: absolute;
  //  transform: translateX(-100%);
  //  transition: all 0.3s;
  //  display: block;
  //}
  //
  &:hover {
    &:before {
      transform: none;
    }
  }

  &--small {
    height: 36px;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
  }
  &--full {
    width: 100%;
  }
}

.scrolldown-trigger {
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
}
.color-primary {
  color: $primary;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 10;
  box-sizing: border-box;
  background-color: transparent;
  width: auto;
  height: auto;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;

  &:focus {
    outline: none;
  }

  &:hover, &:active {
    opacity: 0.6;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
    transform: scaleX(-1);
  }
  &.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.swiper-pagination-bullets {
  bottom: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #cecece;
    padding: 0;
    border-radius: 50%;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;

    &:hover {
      background-color: $primary;
    }

    &-active:after {
      opacity: 1;
    }

    &-active {
      background-color: $primary;
    }
  }
}

.badge {
  background-color: $primary;
  color: $white;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;

  &-micro {
    font-size: 9px;
    width: 17px;
    height: 17px;
    line-height: 16px;
  }
}

.textarea-row-icon {
  .icon-wrap {
    top: 0;
    height: 60px;
  }
}

.input-item, .textarea-item {
  background-color: #fff;
  transition: all 0.3s;
  color: $black;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  padding: 0 15px;
  height: 60px;
  font-size: 14px;
  width: 285px;
  display: block;
  box-shadow: none;
  appearance: none;

  &::placeholder {
    color: $black;
  }

  &:focus {
    border-color: $primary;
    outline: none;
  }
}

.textarea-item {
  resize: none;
  width: 285px;
  height: 140px;
  padding-top: 22px;
  @include up('md') {
    width: 580px;
  }
}

.input-row, .textarea-row {
  margin-top: 14px;
  margin-bottom: 14px;
  position: relative;

  &-icon {
    .input-item, .textarea-item {
      padding-left: 60px;
    }

    .icon-wrap {
      position: absolute;
      left: 10px;
      width: 40px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-mail .icon {
    svg path {
      fill: darken(#c0c7cd, 20%);
    }

    margin-top: -2px;
  }

  .icon-pen {
    margin-top: 3px;
  }
}

.form-row-invalid {
  .input-item, .textarea-item {
    border-color: #b6174f;
  }
}

.section-title {
  margin-top: 0;
  font-size: 36px;
  line-height: 1;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: black;

  span {
    display: block;
    @include up('md') {
      display: inline;
    }
  }

  @include up('md') {
    font-size: 45px;
  }

  @include up('lg') {
    font-size: 60px;
  }
}

.price {
  font-size: 17px;
  color: $primary;
  margin: 2px 0;

  &-old {
    font-size: 14px;
    color: #a7acaa;

    span {
      position: relative;
      display: inline-block;

      &:after {
        content: '';
        width: 105%;
        height: 1px;
        background-color: #a7acaa;
        position: absolute;
        left: 0;
        bottom: 0.4em;
      }
    }
  }
}

.breadcrumbs {
  font-size: 14px;
  margin-bottom: 34px;
  @include up('md') {
    margin-bottom: 37px;
  }

  a {
    text-decoration: none;
  }

  .sep {
    margin: 0 5px;
  }

  .active {
    pointer-events: none;
  }
}

.product-quantity {
  width: 130px;
  color: $black-secondary;
  position: relative;
  height: 40px;
  line-height: 40px;
  @include up('md') {
    width: 160px;
  }

  &-substract, &-add {
    position: absolute;
    width: 40px;
    height: 40px;
    color: $black-secondary;
    background-color: transparent;
    border: 2px solid $black-secondary;
    transition: all 0.4s;
    top: 0;
    left: 0;
    border-radius: 50%;
    font-size: 30px;
    padding: 0;
    cursor: pointer;

    &:hover, &:active {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }

    &:focus {
      border-color: $primary;
      outline: none;
    }
  }

  &-input {
    text-align: center;
    background: transparent;
    padding: 0;
    width: 100%;
    display: block;
    height: 40px;
    border: none;
    box-shadow: none;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 22px;

    &:focus {
      outline: none;
    }

    @include up('lg') {
      font-size: 31px;
    }
  }
}

.form-checkbox > span {
  font-size: 18px;
  color: white;
  position: relative;
  padding: 0 0 0 30px;
  display: inline-block;
  line-height: 1.4;
  cursor: pointer;
}

.form-checkbox > span:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  margin-top: -6px;
  background: linear-gradient(to bottom, white 70%, #d9d7da 100%);
}

.form-checkbox > span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  @include sprite($check)
  display: none;
}

.form-checkbox__input {
  display: none;
}

.form-checkbox__input:checked + span:after {
  display: block;
}

.form-checkbox a {
  color: white;
}

.form-checkbox a:hover {
  text-decoration: none;
}


.range-inputs {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  min-width: 0;

  .input-item {
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 30px;
    padding-right: 4px;
    font-size: 15px;
    color: $black-secondary;
  }

  .input-row {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    flex-grow: 1;
  }

  .input-text {
    line-height: 42px;
    height: 40px;
    font-size: 12px;
    position: absolute;
    left: 10px;
  }
}

.pagination {
  margin: 10px 0 20px;
  padding: 0;
  text-align: center;
  list-style: none;
}

.pagination li {
  display: inline-block;
}

.pagination .active {
  cursor: default;
  pointer-events: none;
}

.pagination a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: $black-secondary;
  text-decoration: none;
  transition: all 0.4s;
}

.pagination a.active {
  background-color: $primary;
  color: #fff;
}

.pagination a:hover {
  background-color: $gray-secondary;
}

// Sometimes we use PNG sprites with retina support. It's disabled by default

//@mixin retina-sprites($retina-groups) {
//  @each $retina-group in $retina-groups {
//    $sprite-name: nth($retina-group, 1);
//    .i-#{$sprite-name} {
//      @include retina-sprite($retina-group);
//    }
//  }
//}

.rect {
  width: 45px;
  background: linear-gradient(to bottom, #0375e7 0%, #022a8a 100%);
  position: absolute;
  transform: skew(-15deg, 0) translateX(-20px);
  height: 1000px;
  left: -120px;
  top: 0;

  &-white {
    background: #fff;
  }

  &-red {
    background: linear-gradient(to bottom, #d21300 0%, #f8171f 100);
  }

  @include up('md') {
    left: 0;
  }
}

.map-text {
  margin-top: 40px;
  font-size: 20px;
  max-width: 300px;
  .skew-text {
    margin-top: -10px;
    @include up('md') {
      margin-top: -11px;
    }
  }

  @include up('md') {
    font-size: 24px;
    max-width: 420px;
    position: absolute;
    bottom: 40px;
    left: -70px;
    z-index: 10;
  }
  @include up('lg') {
    bottom: 130px;
  }
  @include up('xl') {
    left: -50px;
  }
}

.rocket-progress {
  z-index: 20;
  width: 100%;
  position: absolute;
  height: 12px;
  bottom: 12px;
  left: 0;

  &__line {
    width: calc(100% - 94px);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $background-primary;
    &:after {
      content: '';
      position: absolute;
      @include sprite($progress-end);
      right: -10px;
      top: 0;
    }
  }

  .icon-rocket {
    position: absolute;
    right: 0;
    top: -8px;
  }
  &--backwards {
    .rocket-progress__line {
      left: auto;
      right: 0;
    }
    .icon-rocket {
      right: auto;
      left: 0;
      transform: scaleX(-1);
    }
  }
}

.skew-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  transition: all 0.4s;
  border: none;
  text-align: center;
  background-color: $background-primary;
  color: $white;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transform: skew(-15deg, 0);
  box-shadow: 0 0 7px 3px rgba(black, 0.1);

  span {
    display: inline-block;
    transform: skew(15deg, 0);
  }
}

#rect-white-1 {
  width: 2000px;
  left: -2120px;
  display: none;
  @include up('md') {
    left: -2020px;
    display: block;
  }
}

#rect-blue-1 {
  @include up('xl') {
    height: 3000px;
    left: -277px;
  }
}
#rect-blue-2 {
  width: 20px;
  left: -60px;
  @include up('md') {
    left: 60px;
  }
  @include up('xl') {
    height: 3000px;
    left: -207px;
  }
}

#rect-blue-3 {
  display: none;
  width: 25px;
  left: -60px;
  @include up('md') {
    left: 120px;
  }
  @include up('lg') {
    display: block;
    left: 140px;
  }
  @include up('xl') {
    height: 100%;
  }
}

#rect-red-1 {
  display: none;
  width: 20px;
  top: 200px;
  left: -128px;
  @include up('md') {
    display: block;
  }
  @include up('lg') {
    width: 40px;
    left: -178px;
  }
  @include up('xl') {
    height: 3000px;
    left: -450px;
  }
}

#rect-white-projects-1 {
  width: 10px;
  left: -100px;
  z-index: 1;
  height: 100%;
  @include up('md') {
    left: -64px;
  }
  @include up('xl') {
    left: -178px;
  }
}

#rect-blue-projects-1 {
  display: none;
  @include up('lg') {
    left: -368px;
    height: 3000px;
    top: -220px;
    display: block;
  }
  @include up('xl') {
    left: -458px;
  }
}

#rect-blue-projects-2 {
  display: none;
  width: 20px;
  @include up('md') {
    display: block;
    top: calc(50% + 2px);
    height: calc(50% - 2px);
    left: -60px;
  }
  @include up('xl') {
    left: -167px;
  }
}
#rect-red-projects-1 {
  left: -70px;
  top: 0;
  width: 20px;
  @include up('md') {
    display: block;
    left: 10px;
    height: 50%;
  }
  @include up('xl') {
    left: -80px;
  }
}

#rect-red-projects-2 {
  left: calc(100% + 220px);
  width: 100px;
  height: 3000px;
  display: none;
  @include up('md') {
    top: auto;
    bottom: 0;
    display: block;
  }
  @include up('lg') {
    left: calc(100% + 190px);
  }
}

#rect-white-projects-2 {
  left: calc(100% + 12px);
  width: 4px;
  height: 100%;
  display: none;
  @include up('md') {
    display: block;
  }
}

#rect-services-white-1 {
  top: -12px;
  width: 400px;
  left: -440px;
  box-shadow: 3px 3px 10px rgba(black, 0.1);
}

#rect-services-blue-1 {
  left: calc(100% - 226px);
  width: 25px;
  height: 100%;
  display: none;
  @include up('lg') {
    display: block;
  }
}

#rect-services-blue-2 {
  left: calc(100% - 179px);
  width: 100px;
  height: 100%;
  display: none;
  @include up('lg') {
    display: block;
  }
}

#rect-services-blue-3 {
  left: calc(100% + 57px);
  width: 34px;
  height: 600px;
  display: none;
  @include up('lg') {
    display: block;
  }
}

#rect-news-blue-1 {
  width: 50px;
  height: 600px;
  display: none;
  @include up('lg') {
    display: block;
    left: calc(100% + 294px);
    height: 3000px;
    top: auto;
    bottom: 0;
  }
}

#rect-contacts-white-1 {
  top: -12px;
  width: 400px;
  left: -520px;
  box-shadow: 3px 3px 10px rgba(black, 0.1);
  display: none;
  @include up('lg') {
    display: block;
  }
}

#rect-footer-red-1 {
  width: 45px;
  left: 500px;
  bottom: 0;
  top: auto;
  height: 450px;
  z-index: 15;
  display: none;
  @include up('md') {
    display: block;
  }
  @include up('lg') {
    left: 580px;
  }
  @include up('xl') {
    left: 670px;
  }
}

#rect-footer-blue-1 {
  width: 100px;
  left: 620px;
  bottom: 0;
  top: auto;
  height: 1300px;
  z-index: 1;
  display: none;
  @include up('md') {
    display: block;
  }
  @include up('lg') {
    left: 750px;
  }
  @include up('xl') {
    left: 840px;
  }
}

#rect-footer-white-1 {
  width: 320px;
  left: 850px;
  bottom: 0;
  top: auto;
  height: 1300px;
  z-index: 1;
  background: linear-gradient(to right, #e8e8e8, #ffffff);
  box-shadow: 3px 3px 10px rgba(black, 0.1);
  display: none;
  @include up('lg') {
    display: block;
  }
  @include up('xl') {
    left: 970px;
    width: 375px;
  }
}

#rect-about-us-page-blue-1 {
  width: 55px;
  left: calc(100% + 54px);
  bottom: 0;
  top: -300px;
  height: 600px;
  z-index: 1;
  display: none;
  @include up('lg') {
    display: block;
  }
  //@include up('lg') {
  //  left: 750px;
  //}
  //@include up('xl') {
  //  left: 840px;
  //}
}

#rect-about-us-page-blue-2 {
  width: 25px;
  left: calc(100% - 478px);
  bottom: 0;
  top: -300px;
  height: 5000px;
  z-index: 1;
  display: none;
  @include up('lg') {
    display: block;
  }
  //@include up('lg') {
  //  left: 750px;
  //}
  //@include up('xl') {
  //  left: 840px;
  //}
}
#rect-about-us-page-red-1 {
  width: 30px;
  left: calc(100% - 330px);
  bottom: 0;
  top: -300px;
  height: 5000px;
  z-index: 1;
  display: none;
  @include up('lg') {
    display: block;
  }
}

#rect-partners-blue-1, #rect-team-blue-1 {
  display: none;
  top: -200px;
  height: 3000px;
  width: 30px;
  left: -385px;
  @include up('md') {
    display: block;
  }
  @include up('xl') {
    left: -440px;
  }
}

#rect-partners-blue-2 {
  display: none;
  top: -200px;
  height: 1200px;
  width: 100px;
  left: auto;
  right: 0;
  z-index: 1;
  @include up('lg') {
    display: block;
  }
  @include up('xl') {
    right: 216px;
  }
}

#rect-partners-red-1 {
  display: none;
  top: -200px;
  height: 1200px;
  width: 50px;
  left: auto;
  right: -60px;
  z-index: 1;
  @include up('lg') {
    display: block;
  }
  @include up('xl') {
    right: 130px;
  }
}

#rect-partners-blue-3 {
  display: none;
  height: 1200px;
  width: 30px;
  left: calc(100% + 125px);
  top: auto;
  bottom: 171px;
  z-index: 1;
  @include up('xl') {
    display: block;
    right: 216px;
  }
}

#rect-partners-blue-4 {
  display: none;
  height: 300px;
  width: 30px;
  left: 91px;
  top: auto;
  bottom: -75px;
  z-index: 1;
  @include up('xl') {
    display: block;
  }
}

#rect-partners-blue-5 {
  display: none;
  height: 3000px;
  width: 100px;
  left: 127%;
  top: auto;
  bottom: -75px;
  z-index: 1;
  @include up('xl') {
    display: block;
  }
}

#rect-team-blue-2 {
  display: none;
  top: 200px;
  height: 2200px;
  width: 100px;
  left: -128px;
  z-index: 1;
  @include up('lg') {
    display: block;
  }
  @include up('xl') {
    right: 216px;
  }
}

#rect-team-blue-3 {
  display: none;
  top: -200px;
  height: 1510px;
  width: 60px;
  left: auto;
  right: -30px;
  z-index: 1;
  @include up('lg') {
    display: block;
  }
}

#rect-team-red-1 {
  display: none;
  height: 700px;
  width: 30px;
  left: 261px;
  top: auto;
  bottom: 300px;
  z-index: 1;
  @include up('xl') {
    display: block;
  }
}

#rect-team-blue-4 {
  display: none;
  height: 500px;
  width: 60px;
  left: 441px;
  top: auto;
  bottom: 504px;
  z-index: 1;
  @include up('xl') {
    display: block;
  }
}

#rect-team-blue-5 {
  display: none;
  height: 2000px;
  width: 25px;
  left: 113%;
  top: auto;
  bottom: 504px;
  z-index: 1;
  @include up('xl') {
    display: block;
  }
}

#rect-team-blue-6 {
  display: none;
  height: 2000px;
  width: 25px;
  left: 116.5%;
  top: auto;
  bottom: 504px;
  z-index: 1;
  @include up('xl') {
    display: block;
  }
}

#rect-team-blue-7 {
  display: none;
  top: 560px;
  height: 2200px;
  width: 60px;
  left: -356px;
  z-index: 1;
  @include up('lg') {
    display: block;
  }
  @include up('xl') {
    right: 216px;
  }
}

#rect-team-blue-8 {
  display: none;
  height: 300px;
  width: 30px;
  left: 88%;
  top: auto;
  bottom: -75px;
  z-index: 1;
  @include up('xl') {
    display: block;
  }
}

#rect-team-blue-9 {
  display: none;
  height: 3000px;
  width: 100px;
  left: 108%;
  top: auto;
  bottom: -75px;
  z-index: 1;
  @include up('xl') {
    display: block;
  }
}

/* forms */

.form-row {
  margin-bottom: 26px;
  &--captcha {
    height: 70px;
    background-color: rgba(white, 0.2);
  }
}

.form-row--error {
  .form-row__field {
    border-color: darkred;
  }

  .form-row--label {
    color: darkred;
  }

  .form-row--caption {
    color: darkred;
  }
}

// @TODO: add inputmask.js for phone field

.form-row__input, .form-row__textarea {
  width: 100%;
  height: 45px;
  font-size: 19px;
  color: black;
  background: linear-gradient(to bottom, white 60%, #d7d7d7 100%);
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  box-shadow: none;
  outline: 0;
  &::placeholder {
    color: #3b3b3b;
  }
}

.form-row__textarea {
  height: 112px;
  resize: none;
  padding-top: 13px;
  padding-bottom: 20px;
}

