// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-white-name: 'arrow-left-white';
$arrow-left-white-x: 287px;
$arrow-left-white-y: 146px;
$arrow-left-white-offset-x: -287px;
$arrow-left-white-offset-y: -146px;
$arrow-left-white-width: 18px;
$arrow-left-white-height: 15px;
$arrow-left-white-total-width: 480px;
$arrow-left-white-total-height: 202px;
$arrow-left-white-image: '../img/icons.png';
$arrow-left-white: (287px, 146px, -287px, -146px, 18px, 15px, 480px, 202px, '../img/icons.png', 'arrow-left-white', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 315px;
$arrow-left-y: 146px;
$arrow-left-offset-x: -315px;
$arrow-left-offset-y: -146px;
$arrow-left-width: 18px;
$arrow-left-height: 15px;
$arrow-left-total-width: 480px;
$arrow-left-total-height: 202px;
$arrow-left-image: '../img/icons.png';
$arrow-left: (315px, 146px, -315px, -146px, 18px, 15px, 480px, 202px, '../img/icons.png', 'arrow-left', );
$check-name: 'check';
$check-x: 259px;
$check-y: 146px;
$check-offset-x: -259px;
$check-offset-y: -146px;
$check-width: 18px;
$check-height: 16px;
$check-total-width: 480px;
$check-total-height: 202px;
$check-image: '../img/icons.png';
$check: (259px, 146px, -259px, -146px, 18px, 16px, 480px, 202px, '../img/icons.png', 'check', );
$contact-rocket-name: 'contact-rocket';
$contact-rocket-x: 0px;
$contact-rocket-y: 0px;
$contact-rocket-offset-x: 0px;
$contact-rocket-offset-y: 0px;
$contact-rocket-width: 480px;
$contact-rocket-height: 136px;
$contact-rocket-total-width: 480px;
$contact-rocket-total-height: 202px;
$contact-rocket-image: '../img/icons.png';
$contact-rocket: (0px, 0px, 0px, 0px, 480px, 136px, 480px, 202px, '../img/icons.png', 'contact-rocket', );
$corder-right-bottom-name: 'corder-right-bottom';
$corder-right-bottom-x: 402px;
$corder-right-bottom-y: 146px;
$corder-right-bottom-offset-x: -402px;
$corder-right-bottom-offset-y: -146px;
$corder-right-bottom-width: 9px;
$corder-right-bottom-height: 8px;
$corder-right-bottom-total-width: 480px;
$corder-right-bottom-total-height: 202px;
$corder-right-bottom-image: '../img/icons.png';
$corder-right-bottom: (402px, 146px, -402px, -146px, 9px, 8px, 480px, 202px, '../img/icons.png', 'corder-right-bottom', );
$corner-left-bottom-name: 'corner-left-bottom';
$corner-left-bottom-x: 383px;
$corner-left-bottom-y: 146px;
$corner-left-bottom-offset-x: -383px;
$corner-left-bottom-offset-y: -146px;
$corner-left-bottom-width: 9px;
$corner-left-bottom-height: 8px;
$corner-left-bottom-total-width: 480px;
$corner-left-bottom-total-height: 202px;
$corner-left-bottom-image: '../img/icons.png';
$corner-left-bottom: (383px, 146px, -383px, -146px, 9px, 8px, 480px, 202px, '../img/icons.png', 'corner-left-bottom', );
$corner-right-top-name: 'corner-right-top';
$corner-right-top-x: 364px;
$corner-right-top-y: 146px;
$corner-right-top-offset-x: -364px;
$corner-right-top-offset-y: -146px;
$corner-right-top-width: 9px;
$corner-right-top-height: 9px;
$corner-right-top-total-width: 480px;
$corner-right-top-total-height: 202px;
$corner-right-top-image: '../img/icons.png';
$corner-right-top: (364px, 146px, -364px, -146px, 9px, 9px, 480px, 202px, '../img/icons.png', 'corner-right-top', );
$corner-top-right-name: 'corner-top-right';
$corner-top-right-x: 421px;
$corner-top-right-y: 146px;
$corner-top-right-offset-x: -421px;
$corner-top-right-offset-y: -146px;
$corner-top-right-width: 9px;
$corner-top-right-height: 7px;
$corner-top-right-total-width: 480px;
$corner-top-right-total-height: 202px;
$corner-top-right-image: '../img/icons.png';
$corner-top-right: (421px, 146px, -421px, -146px, 9px, 7px, 480px, 202px, '../img/icons.png', 'corner-top-right', );
$facebook-name: 'facebook';
$facebook-x: 231px;
$facebook-y: 146px;
$facebook-offset-x: -231px;
$facebook-offset-y: -146px;
$facebook-width: 18px;
$facebook-height: 18px;
$facebook-total-width: 480px;
$facebook-total-height: 202px;
$facebook-image: '../img/icons.png';
$facebook: (231px, 146px, -231px, -146px, 18px, 18px, 480px, 202px, '../img/icons.png', 'facebook', );
$headset-name: 'headset';
$headset-x: 91px;
$headset-y: 146px;
$headset-offset-x: -91px;
$headset-offset-y: -146px;
$headset-width: 18px;
$headset-height: 18px;
$headset-total-width: 480px;
$headset-total-height: 202px;
$headset-image: '../img/icons.png';
$headset: (91px, 146px, -91px, -146px, 18px, 18px, 480px, 202px, '../img/icons.png', 'headset', );
$instagram-name: 'instagram';
$instagram-x: 203px;
$instagram-y: 146px;
$instagram-offset-x: -203px;
$instagram-offset-y: -146px;
$instagram-width: 18px;
$instagram-height: 18px;
$instagram-total-width: 480px;
$instagram-total-height: 202px;
$instagram-image: '../img/icons.png';
$instagram: (203px, 146px, -203px, -146px, 18px, 18px, 480px, 202px, '../img/icons.png', 'instagram', );
$mail-name: 'mail';
$mail-x: 175px;
$mail-y: 146px;
$mail-offset-x: -175px;
$mail-offset-y: -146px;
$mail-width: 18px;
$mail-height: 18px;
$mail-total-width: 480px;
$mail-total-height: 202px;
$mail-image: '../img/icons.png';
$mail: (175px, 146px, -175px, -146px, 18px, 18px, 480px, 202px, '../img/icons.png', 'mail', );
$marker-2-name: 'marker-2';
$marker-2-x: 0px;
$marker-2-y: 184px;
$marker-2-offset-x: 0px;
$marker-2-offset-y: -184px;
$marker-2-width: 15px;
$marker-2-height: 18px;
$marker-2-total-width: 480px;
$marker-2-total-height: 202px;
$marker-2-image: '../img/icons.png';
$marker-2: (0px, 184px, 0px, -184px, 15px, 18px, 480px, 202px, '../img/icons.png', 'marker-2', );
$marker-name: 'marker';
$marker-x: 25px;
$marker-y: 184px;
$marker-offset-x: -25px;
$marker-offset-y: -184px;
$marker-width: 14px;
$marker-height: 18px;
$marker-total-width: 480px;
$marker-total-height: 202px;
$marker-image: '../img/icons.png';
$marker: (25px, 184px, -25px, -184px, 14px, 18px, 480px, 202px, '../img/icons.png', 'marker', );
$mouse-name: 'mouse';
$mouse-x: 49px;
$mouse-y: 184px;
$mouse-offset-x: -49px;
$mouse-offset-y: -184px;
$mouse-width: 14px;
$mouse-height: 18px;
$mouse-total-width: 480px;
$mouse-total-height: 202px;
$mouse-image: '../img/icons.png';
$mouse: (49px, 184px, -49px, -184px, 14px, 18px, 480px, 202px, '../img/icons.png', 'mouse', );
$progress-end-name: 'progress-end';
$progress-end-x: 343px;
$progress-end-y: 146px;
$progress-end-offset-x: -343px;
$progress-end-offset-y: -146px;
$progress-end-width: 11px;
$progress-end-height: 12px;
$progress-end-total-width: 480px;
$progress-end-total-height: 202px;
$progress-end-image: '../img/icons.png';
$progress-end: (343px, 146px, -343px, -146px, 11px, 12px, 480px, 202px, '../img/icons.png', 'progress-end', );
$rocket-name: 'rocket';
$rocket-x: 0px;
$rocket-y: 146px;
$rocket-offset-x: 0px;
$rocket-offset-y: -146px;
$rocket-width: 81px;
$rocket-height: 28px;
$rocket-total-width: 480px;
$rocket-total-height: 202px;
$rocket-image: '../img/icons.png';
$rocket: (0px, 146px, 0px, -146px, 81px, 28px, 480px, 202px, '../img/icons.png', 'rocket', );
$telegram-name: 'telegram';
$telegram-x: 147px;
$telegram-y: 146px;
$telegram-offset-x: -147px;
$telegram-offset-y: -146px;
$telegram-width: 18px;
$telegram-height: 18px;
$telegram-total-width: 480px;
$telegram-total-height: 202px;
$telegram-image: '../img/icons.png';
$telegram: (147px, 146px, -147px, -146px, 18px, 18px, 480px, 202px, '../img/icons.png', 'telegram', );
$vk-name: 'vk';
$vk-x: 119px;
$vk-y: 146px;
$vk-offset-x: -119px;
$vk-offset-y: -146px;
$vk-width: 18px;
$vk-height: 18px;
$vk-total-width: 480px;
$vk-total-height: 202px;
$vk-image: '../img/icons.png';
$vk: (119px, 146px, -119px, -146px, 18px, 18px, 480px, 202px, '../img/icons.png', 'vk', );
$spritesheet-width: 480px;
$spritesheet-height: 202px;
$spritesheet-image: '../img/icons.png';
$spritesheet-sprites: ($arrow-left-white, $arrow-left, $check, $contact-rocket, $corder-right-bottom, $corner-left-bottom, $corner-right-top, $corner-top-right, $facebook, $headset, $instagram, $mail, $marker-2, $marker, $mouse, $progress-end, $rocket, $telegram, $vk, );
$spritesheet: (480px, 202px, '../img/icons.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
